.cardContent {
    margin: 1rem;
    font-size: 14pt;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info link";
}

.cardInfo {
    grid-area: info;
    padding: 1rem;
}

.cardLink {
    grid-area: link;
    align-self: center;
    justify-self: center;
}

.field{
    font-weight: bold;
}
